.app {
    margin-top: calc(var(--navbar-height) + 30px); 
    padding: 0.5rem 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--background-color);
    position: relative;
    z-index: 1; /* Ensure it is below the navbar in stacking context */
  } 
