

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-link {
    padding: 10px 15px;
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover,
.theme-toggle-text:hover {
    color: var(--tertiary-color);
}

.nav-link.active {
    border-bottom: 3px solid var(--tertiary-color);
}

.navbar {
    background-color: var(--header-color);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--tertiary-color);

}

.menu-icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    color: var(--link-color);
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        color: var(--tertiary-color);


        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--light-tertiary-color);
        width: 100%;
        padding-top: 20px;
    }

    .menu.show {
        display: flex;
    }

    .theme-toggle-text {
        display: block;
        color: var(--text-color);
        padding-right: 5px;
    }
}