.layout-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto auto auto;
  grid-template-rows: calc(var(--navbar-height) + 20px) auto auto auto;
  grid-template-areas:
    "header navbar navbar navbar"
    "sidebar dashboard dashboard dashboard"
    "sidebar dashboard dashboard dashboard"
    "sidebar dashboard dashboard dashboard";
  height: 100vh;
  width: 100%;
}

.sidebar-header {
  grid-area: header;
  background-color:var(--background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;

}

.sidebar-header-logo {
  margin: auto;
  align-items: left;
  max-width: 100%;
  max-height: calc(var(--navbar-height) + 10px);
  object-fit: contain;
}


.sidebar-container {
  grid-area: sidebar;
  background-color: var(--background-color);
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
}

.sidebar-collapsed {
  width: var(--sidebar-collapsed-width);
}

.small-navbar {
  grid-area: navbar;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-image: url("../img/bg.jpg");


}

.app-content {
  grid-area: dashboard;
  overflow: auto;
  margin: 10px;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--background-color);
}

.toggle-btn-sidebar {
  position: absolute;
  top: 50%;
  left: calc(var(--sidebar-width) - 10px);
  transform: translateY(-50%);


}

.toggle-icon {
  width: 2px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.199);
  cursor: pointer;
  width: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.toggle-btn-sidebar:hover .toggle-icon {

  
  transform: rotate(90deg);
}
