:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --font-family: 'DM Sans', sans-serif;
}

body {
  --primary-color: #343d48;
  --secondary-color: #343d48;
  --dark-secondary-color: #e08a39;
  --tertiary-color: #e08a39;
  --active-link-color: #e08a39;
  --light-tertiary-color: #f8f3f3;
  --background-color: #ffffff;
  --text-color: #343d48;
  --link-color: #000000;
  --header-color: #ffffff;
}

body[data-theme="dark"] {
  --primary-color: #e0e0e0;
  --secondary-color: #e0e0e0;
  --dark-secondary-color: #7a33ff;
  --tertiary-color: #7a33ff;
  --active-link-color: #7a33ff;
  --light-tertiary-color: #222222;;
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #e0e0e0;
  --header-color: #222222;
}